.card-login{
  margin-top: 300px;
}
.button-login{
  margin-top: 3px;
}
.button-signup{
  margin-top: 4px;
}

.card-dashboard{
  margin-top: 100px;
}

.avatar-img{
  width: 150px;
  height: 150px;

}
.caroussel-img{
  width: 800px;
  height: 400px;
}

.signup-alert{
  margin-top: 5px;
}